.headroom {
  background: $secondary-3;
  width: 100%;
  color: #fff;
  padding: 10px 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  will-change: transform;
  transition: transform 200ms linear;

  &--not-top {
    border-bottom: 1px solid #fff;
    position: fixed;
    z-index: 10;
  }

  &--pinned {
    transform: translateY(0%);
  }

  &--unpinned {
    transform: translateY(-100%);
  }
}
