@import "../../../../../node_modules/bootstrap/scss/_functions.scss";
@import "../../../../../node_modules/bootstrap/scss/_variables.scss";

$secondary-1: #ededed;
$secondary-2: #4d525b;
$secondary-3: #2f333d;
